@model List<WebApplication1.Models.MonthlyCaching>
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "MonthlyCachings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-center">التكلفة الكلية للأدوية</th>
            </tr>
        </thead>
        @if (Model == null)
        {
            int j = 0;
            foreach (var patient in ViewBag.PatientL)

            {
                <tr>
                    <td ><input type="text"  value="@patient.ID"/> </td>
                    <td ><input type="text" value="@patient.PMTotalcost"/> </td>
                </tr>
                j++;
            }
        }
    </table>
    <input type="button" id="id="addNew"" />
    <table id="tbl">
        <tr>
            @foreach (var patient in ViewBag.PatientL)

            {
            <td><input type="text" id="text1" /></td>
            <td><input type="text" id="text3" /></td>
            }
        </tr>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="صرف للكل"  class="btn btn-default" />
        </div>
    </div>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">

        $(document).ready(function () {

            //1. Add new row
            $("#addNew").click(function (e) {
                e.preventDefault();
                var $tableBody = $("#tbl");
                var $trLast = $tableBody.find("tr:last");
                var $trNew = $trLast.clone();
                var e1 = document.getElementById("text1");
                var strUser11 = parseInt(e1.innerHTML, 10);
                var e3 = document.getElementById("text3");
                var strUser = parseInt(e3.innerHTML, 10);
                $.each($trNew.find(':input'), function (i, val) {
                    var type = $(this).attr('id');
                    if (type.toLowerCase() == "text1") {
                        $(this).attr('value', strUser11);
                    }

                    var type = $(this).attr('id');
                    if (type.toLowerCase() == "text3") {
                        $(this).attr('value', strUser33);
                    }
                    $(this).removeClass("input-validation-error");
                });
                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
            });

            
        });
        
    </script>

}