@model WebApplication1.Models.Donations

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>
<table style="font-size:20px;" class="table table-bordered">
    <tr style="display:none"></tr>
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.DonarName)  :  <span style="font-weight:bold">@Html.DisplayFor(model => model.DonarName)</span>
        </td>
    </tr>
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.RecieverName) :<span style="font-weight:bold"> @Html.DisplayFor(model => model.RecieverName)</span>
        </td>
    </tr>
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.Value) : <span style="font-weight:bold">@Html.DisplayFor(model => model.Value)</span>
        </td>
    </tr>
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.DateCreated) :  <span style="font-weight:bold">@Html.DisplayFor(model => model.DateCreated)</span>
        </td>
    </tr>

</table>
<br />
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("العودة إلي قائمة التبرعات", "Index")
</p>
