@model WebApplication1.Models.Patient

@{
    ViewBag.Title = "Create";
}

@*<h2>إضافة مريض</h2>*@

    <div id="CreateForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3  style="margin-right:50px;color:#343a40;font-weight:bold;margin-bottom:30px;">إضافة مريض</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">

                    <div >
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Placeholder = "اسم المريض" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        <p class="text-danger">@ViewBag.Repeat</p>
                    </div>
                    @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.SSNNew, new { htmlAttributes = new { @class = "form-control", Placeholder = "الرقم القومي" } })
                        @Html.ValidationMessageFor(model => model.SSNNew, "", new { @class = "text-danger" })
                    </div>
                    @*@Html.LabelFor(model => model.SSNNew, htmlAttributes: new { @class = "control-label col-md-2" })*@
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", Placeholder = "تاريخ الميلاد" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                    @*@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Shepherd, new { htmlAttributes = new { @class = "form-control", Placeholder = "رب الأسرة" } })
                        @Html.ValidationMessageFor(model => model.Shepherd, "", new { @class = "text-danger" })
                    </div>
                    @*@Html.LabelFor(model => model.Shepherd, htmlAttributes: new { @class = "control-label col-md-2" })*@
                </div>

                @*<div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.isalife)
                            @Html.ValidationMessageFor(model => model.isalife, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    @Html.LabelFor(model => model.isalife, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col">
                        <input type="submit" value="إضافة" class="btn" id="btnBlue"/>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("عودة إلي قائمة المرضي", "Index",null,htmlAttributes: new { id = "GoBack" })
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
