@model WebApplication1.Models.Medicines

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>
<table style="font-size:20px;" class="table table-bordered">
    <tr style="display:none"></tr>
    @*<tr class="text-right">
            <td class="text-right">
                @Html.DisplayNameFor(model => model.MedicinesCategory.Name)  :  <span style="font-weight:bold">@Html.DisplayFor(model => model.MedicinesCategory.Name)</span>
            </td>
        </tr>*@
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.Name):<span style="font-weight:bold">  @Html.DisplayFor(model => model.Name)</span>
        </td>
    </tr>
    <tr class="text-right">
        <td class="text-right">
            @Html.DisplayNameFor(model => model.PricePerUnit) : <span style="font-weight:bold">@Html.DisplayFor(model => model.PricePerUnit)</span>
        </td>
    </tr>

</table>
<br />

<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("عودة إلي قائمة الأدوية", "Index")
</p>
