@model WebApplication1.Models.Medicines

@{
    ViewBag.Title = "Edit";
}

<div id="CreateForm">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 style="margin-right:20px;color:#343a40;font-weight:bold;margin-bottom:30px;">تعديل بيانات دواء</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" , Placeholder = "اسم الدواء"} })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                @Html.EditorFor(model => model.PricePerUnit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PricePerUnit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                @Html.DropDownList("MedicineCategoryID", null, htmlAttributes: new { @class = "form-control" ,Style="height:40px;" })
                @Html.ValidationMessageFor(model => model.MedicineCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col">
                <input type="submit" value="حفظ" class="btn" id="btnBlue"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("عودة إلي قائمة الدواء", "Index",null,htmlAttributes: new { id = "GoBack" })
</div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
