@model WebApplication1.Models.TemporaryCashing

@{
    ViewBag.Title = "Delete";
}
<h2>حذف</h2>

<h3 style="color:red;">هل انت متأكد من انك تريد حذف بيانات هذا الصرف ؟</h3>
<div>
    <table style="font-size:20px;" class="table table-bordered">
        <tr style="display:none"></tr>
        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayNameFor(model => model.Patient.Name) : <span style="font-weight:bold">@Html.DisplayFor(model => model.Patient.Name)</span>
            </td>
        </tr>
        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayNameFor(model => model.Medicines.Name) :<span style="font-weight:bold"> @Html.DisplayFor(model => model.Medicines.Name)</span>
            </td>
        </tr>

        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayNameFor(model => model.NumberofUnites) : <span style="font-weight:bold">@Html.DisplayFor(model => model.NumberofUnites)</span>
            </td>
        </tr>
        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayName("تاريخ الصرف") : <span style="font-weight:bold">@Html.DisplayFor(model => model.DateCreated)</span>
            </td>
        </tr>
        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayNameFor(model => model.Cost) : <span style="font-weight:bold">@Html.DisplayFor(model => model.Cost)</span>
            </td>
        </tr>

    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة إلي قائمة المصروفات المؤقتة", "Index")
        </div>
    }
</div>



